@import "../../../theme.scss";
.site-header {
    width: 100%;
    height: 50px;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .menu-btn {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.2rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 8px;
        .MuiSvgIcon-root {
            font-size: 1.6rem;
        }
    }
    .search-panel-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 5px;
        padding: 5px 10px;
        border: 1px solid red;
        border-radius: 30px;
        opacity: 0.6;
        margin: 0px 20px 0px 40px;
        width: 40%;
        &:focus-within {
            opacity: 1;
        }
        .search {
            border: none !important;
            outline: none !important;
            background-color: transparent;
            width: 100%;
            height: 100%;
            color: inherit;
        }
    }
}

@media screen and (max-width: 768px) {
    .site-header {
        .search-panel-container {
            flex: 1;
        }
    }
}
